
<nav class="navbar navbar-primary" style="background-color: #F94C4C;">
    <ul class="nav navbar-nav">
        <li><a href="#">Add Process</a></li>
    </ul>
    </div>
    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
            <li class='pull-right'>

                <a ng-click='goToDashboard()'>

                    <i class="fa fa-reply" aria-hidden="true"></i>

                </a>

            </li>
        </ul>
    </div>
</nav>
<div class="container">

    <div class="row">
        <div class="col-md-12">
            <h2 class="page-head-line">Add Process</h2>

        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <ng-form name="numberForm">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header" style="background-color: #F94C4C;">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title" style="color: #faffff">Add New</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Item Code:</label>
                            <select ng-model="process.ItemCode" class="form-control">
                                <option value="0">---select---</option>
                                <option ng-repeat="data in getProcess">{{data.ItemCode}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Process Name:</label>
                            <input type="text" ng-model="process.ProcessName"  class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Description:</label>
                            <input type="text"  ng-model="process.Description" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Process:</label>
                            <br>
                            <input type="radio" id="radio1" ng-model="process.Status"  value="InProcess" tabindex="1" />
                            <label for="radio1">InProcess</label>&nbsp;

                            <input type="radio" id="radio2" ng-model="process.Status" value="OutProcess" tabindex="2"/>
                            <label for="radio1">OutProcess</label>
                        </div>
                        <br>

                    </div>
                    <div class="modal-footer" style="background-color: #F94C4C;">
                        <button type="button" class="btn btn-success" ng-disabled="numberForm.$invalid" ng-click="saveProcess()" data-dismiss="modal">Save</button>
                        <button type="button" class="btn btn-success" ng-click="close()" data-dismiss="modal">Close</button>
                    </div>

                </div>
            </ng-form>
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading" style="background-color: #F94C4C;">Production
            <div class="pull-right">
                <a data-toggle="modal" id="addAdditionalModal" data-target="#myModal"><i class="fa fa-book" style="color: HighlightText" aria-hidden="true">Add Process</i></a>
            </div>
        </div>


        <div class="panel-body">

            <table class="table table-responsive">
                <thead style="background-color: #337ab7">
                <tr>
                    <th>ID</th>
                    <th>Item Code</th>
                    <th>Process Name</th>
                    <th>Process Status</th>
                    <th>Description</th>
                    <th>Option</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="data in getProcess">
                    <th scope="row">{{data.id}}</th>
                    <td>{{data.ItemCode}}</td>
                    <td>{{data.ProcessName}}</td>
                    <td>{{data.Status}}</td>
                    <td>{{data.Description}}</td>
                    <td>
                        <span class="fa fa-pencil-square fa-1x" style="color: red" aria-hidden="true" data-toggle="modal" data-target="#myModal" ng-click="Edit(data)"  aria-hidden="true"></span>
                        <span class="fa fa-window-close"  style="color: red" aria-hidden="true" ng-click="delete(data)"></span>
                        <!--<button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#myModal">Edit</button>-->
                        <!--<button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#myModal">Delete</button>-->

                    </td>
                </tr>
                </tbody>
            </table>




        </div>

        <div class="panel-footer">

            <center>
                <pagination
                        ng-model="cur_page"
                        total-items="totalLength"
                        items-per-page="items_per_page"
                        max-size="max_size"
                        boundary-links="true">
                </pagination>
            </center>

        </div>

    </div>


</div>

