
<nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
    <ul class="nav sidebar-nav">
        <li class="sidebar-brand">
            <a href="#">
                MENU
            </a>
        </li>
        <li>
            <a href="/language"><font style="color: white"><h5><b>Language Configuration</b></h5></font></a>
        </li>
        <li>
            <a href="/distance"><font style="color: white"><h5><b>Distance Configuration</b></h5></font></a>
        </li>
        <li>
            <a href="/imageUploading"><font style="color: white"><h5><b>Image Uploading</b></h5></font></a>
        </li>
        <li>
            <a href="/folder"><font style="color: white"><h5><b>File Expolorer</b></h5></font></a>
        </li>
        <li>
            <a href="/settings"><font style="color: white"><h5><b>Settings</b></h5></font></a>
        </li>
        <li>
            <a ng-click="logout()"><font style="color: white"><h5><b>Logout</b></h5></font></a>
        </li>
    </ul>
</nav>