
<nav class="navbar navbar-primary" style="background-color: #F94C4C;">

    <ul class="nav navbar-nav">
        <li><a href="#">Work Order</a></li>

    </ul>
    </div>
    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
            <li class='pull-right'>

                <a ng-click='goToDashboard()'>

                    <i class="fa fa-reply" aria-hidden="true"></i>

                </a>

            </li>
        </ul>
    </div>
</nav>




<div class="container">

    <div class="row">
        <div class="col-md-12">
            <h2 class="page-head-line">Work Order</h2>

        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <ng-form name="numberForm">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header" style="background-color: #F94C4C;">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title" style="color: #faffff">Add New</h4>
                    </div>
                    <div class="modal-body">

                        <div class="form-group">
                            <label class="control-label">Work OrderNo:</label>
                            <input type="text" ng-model="editableData.wrk_ord_no"  class="form-control">
                        </div>
                        <div class="form-group">
                            <label class="control-label">Size:</label>
                            <input type="text" ng-model="editableData.size"  class="form-control">
                        </div>
                        <div class="form-group">
                            <label class="control-label">Status:</label>
                                <input type="radio" id="radio1" ng-model="stdentData.complete" value="Male" tabindex="1" />
                                <label for="radio1">Complete</label>&nbsp;

                                <input type="radio" id="radio2" ng-model="stdentData.Inprocess" value="Female" tabindex="2"/>
                                <label for="radio1">Inprocess</label>
                                <!--<input class="form-control" id="inputEmail3" ng-model="stdentData.Gender" placeholder="Gender">-->

                        </div>
                        <div class="form-group">
                            <label class="control-label">Ok Qty:</label>
                            <input type="text" ng-model="editableData.ok_qty"  class="form-control">
                        </div>
                        <div class="form-group">
                            <label class="control-label">Reject Qty:</label>
                            <input type="text" ng-model="editableData.rjct_qty"  class="form-control">
                        </div>
                        <div class="form-group">
                            <label class="control-label">Next Process:</label>
                            <select class="form-control" ng-model="editableData.nxt_process">

                                <option value="0">------SELECT PROCESS-------</option>

                                <option ng-repeat="process in processList" value="process.id">{{process.ProcessName}}</option>

                            </select>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Current Process:</label>
                            <select class="form-control" ng-model="editableData.crnt_process">

                                <option value="0">------SELECT PROCESS-------</option>

                                <option ng-repeat="process in processList" value="process.id">{{process.ProcessName}}</option>

                            </select>
                        </div>

                        <div class="form-group">
                            <label class="control-label">Date:</label>
                            <datepicker>
                                <input ng-model="editableData.date" type="text" class="form-control" placeholder="please select date"/>
                            </datepicker>
                        </div>

                        <br>

                    </div>
                    <div class="modal-footer" style="background-color: #F94C4C;">
                        <button type="button" class="btn btn-success" ng-disabled="numberForm.$invalid" ng-click="updateWorkOrderProcess()" data-dismiss="modal">Save</button>
                        <button type="button" class="btn btn-success" ng-click="close()" data-dismiss="modal">Close</button>
                    </div>

                </div>
        </div>
        </ng-form>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading" style="background-color: #F94C4C;">Work Order Entry
            <div class="pull-right">
                <a data-toggle="modal" id="addAdditionalModal" data-target="#myModal"><i class="fa fa-book" style="color: HighlightText" aria-hidden="true">Add New Work</i></a>
            </div>

        </div>


        <div class="panel-body">

            <table class="table table-responsive">
                <thead style="background-color: #337ab7">
                <tr>
                    <th>ID</th>
                    <th>Work OrderNo</th>
                    <th>Size</th>
                    <th>Ok Quty</th>
                    <th>Reject Quty</th>
                    <th>Next Process</th>
                    <th>Curent process</th>
                    <th>Date</th>
                    <th>Option</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="data in workOrderData">
                    <th scope="row">{{data.id}}</th>
                    <td>{{data.wrk_ord_no}}</td>
                    <td>{{data.size}}</td>
                    <td>{{data.ok_qty}}</td>
                    <td>{{data.rjct_qty}}</td>
                    <td>{{data.nxt_process}}</td>
                    <td>{{data.crnt_process}}</td>
                    <td>{{data.date}}</td>
                    <td>
                        <span class="fa fa-pencil-square fa-1x" style="color: red" aria-hidden="true" data-toggle="modal" data-target="#myModal" ng-click="editData(data)"  aria-hidden="true"></span>
                        <span class="fa fa-window-close"  style="color: red" aria-hidden="true" ng-click="deleteWorkOrderProcess(data)"></span>
                        <!--<button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#myModal">Edit</button>-->
                        <!--<button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#myModal">Delete</button>-->

                    </td>
                </tr>
                </tbody>
            </table>

        </div>

        <div class="panel-footer">

            <center>
                <pagination
                        ng-model="cur_page"
                        total-items="totalLength"
                        items-per-page="items_per_page"
                        max-size="max_size"
                        boundary-links="true">
                </pagination>
            </center>

        </div>
    </div>
</div>


</div>

